/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/publicxxx
.env
.env.backup
.env.server
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
bash.bat
start_ssh.sh
/.fleet
/.idea
/.vscode
keygit
keygit.pub
pull.sh
